<h1>Chat</h1>
<ng-template [ngIf]="online">

<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header" style="background-color: #5800fb;text-align: center;" >Chat</div>
  <div class= "scroll">
  <div class="card-body">
    <div *ngFor = "let user of users[0].users">
      <p><fa-icon [icon]="faCircle" style="color: green;"></fa-icon> {{user.username}} is online</p>
    </div> 
    <div *ngFor = "let message of messages">
    <div class='header'style="background-color: white"> 
      <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><fa-icon [icon]="faUser" style="color: grey;"></fa-icon> {{message.username}}</div>
        <div class="card-body text-dark">
          <p class="card-text">{{message.text}}</p>
        </div>
      </div>
  </div>
  </div>
  <div>
    <input [(ngModel)]= "message.content" (keyup)="$event.keyCode ==13 && sendMessage()"/>
    <button class="btn btn-primary" (click)= "sendMessage()">Send</button>
  </div>
  </div>
  
</div>
</div>
<div class="card" style="width: 300px;">
  <div class="card-header" style="background-color: #5800fb;text-align: center;" >Ranking</div>

  <div class="scroll">
  <table class="table table-striped" >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Country</th>
      <th scope="col">Area</th>
      <th scope="col">Population</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let country of countries; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
        {{ country.name }}
      </td>
      <td>{{ country.area | number }}</td>
      <td>{{ country.population | number }}</td>
    </tr>
    </tbody>
  </table>
</div>
</div>

</ng-template>
<ng-template [ngIf]="!online">
  <div>
    <h3>User</h3>
    <input [(ngModel)]= "user" (keyup)="$event.keyCode ==13 && setUser()" />
    <button (click)= "setUser()">create</button>
  </div>
</ng-template>

